# Gradle files
.gradle/
build/

# Kotlin / KMP
.kotlin/
kotlin-js-store/

# Android Studio / IntelliJ
*.iml
.idea/
local.properties
secrets.properties
captures/
.externalNativeBuild/
.cxx/

# SQLite / Database
*.db-shm
*.db-wal

# KSP
*.ksp

# OS files
.DS_Store
Thumbs.db

# Modules
**/build/
